.content {
    display: none;
}

.show-content {
    display: block;
}

.brainstorming {
    display: flex;
    justify-content: space-between;
}

.mini-img img {
    padding-right: 25px;
    /* width: 60px;
    height: 30px; */
}